@charset "UTF-8";
/*======================================================
Source: http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/
Convertir tamaño de fuente en REM con fallback en PX
======================================================*/
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
/* line 1, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, ../scss/_reset.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 47, ../scss/_reset.scss */
a {
  text-decoration: none;
}

/* line 50, ../scss/_reset.scss */
video {
  display: block;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url("../fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Generales */
/* line 2, ../scss/_generals.scss */
body {
  font-size: 1em;
  line-height: 1.5;
  background: #FFFFFF;
}

/* line 7, ../scss/_generals.scss */
.main-container {
  width: 80%;
  padding: 20px;
  margin: auto;
}
/* line 11, ../scss/_generals.scss */
.main-container .prod {
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* line 16, ../scss/_generals.scss */
.main-container .prod li {
  width: 22%;
  display: inline-block;
  border: 1px solid #d8d8d8;
  margin: 5px;
  vertical-align: top;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}
/* line 26, ../scss/_generals.scss */
.main-container .prod li:hover {
  background: #f8f8f8;
  -webkit-transition: background 0.5s;
}
/* line 30, ../scss/_generals.scss */
.main-container .prod li img {
  width: 100%;
  cursor: pointer;
}
/* line 34, ../scss/_generals.scss */
.main-container .prod li .titulo {
  color: #585858;
  font-family: AlegreyaSans;
  font-size: 20px;
  font-size: 1.25rem;
  margin: 0 0 5px;
}
/* line 40, ../scss/_generals.scss */
.main-container .prod li .lead {
  color: #666666;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  margin-bottom: 5px;
}
/* line 46, ../scss/_generals.scss */
.main-container .prod li .precio1 {
  font-size: 13px;
  font-size: 0.8125rem;
  margin: 5px 0;
  font-family: 'Pontano Sans', sans-serif;
}
/* line 52, ../scss/_generals.scss */
.main-container .prod li .precio2 {
  color: red;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
}
/* line 58, ../scss/_generals.scss */
.main-container .prod li .precio3 {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
}
/* line 59, ../scss/_generals.scss */
.main-container .prod li .precio3 span {
  text-decoration: line-through;
}
/* line 65, ../scss/_generals.scss */
.main-container .prod li .unidades, .main-container .prod li .fecha, .main-container .prod li .exclusivo {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  margin: 5px 0;
  text-align: center;
  color: #9a9a9a;
}
/* line 72, ../scss/_generals.scss */
.main-container .prod li .exclusivo {
  color: #68CE1B;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 10px;
}
/* line 76, ../scss/_generals.scss */
.main-container .prod li .exclusivo span {
  font-weight: bold;
}
/* line 80, ../scss/_generals.scss */
.main-container .prod li .mensaje {
  font-family: 'Pontano Sans', sans-serif;
  width: 100%;
  padding: 10px;
  background: #68CE1B;
  margin: 10px auto;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  border: 1px solid #FFFFFF;
}
/* line 90, ../scss/_generals.scss */
.main-container .prod li .mensaje:hover {
  background: #FFFFFF;
  color: #68CE1B;
  border: 1px solid #68CE1B;
}
/* line 98, ../scss/_generals.scss */
.main-container .prod .categoria .titulo {
  text-align: center;
}
