/*======================================================
Source: http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/
Convertir tamaño de fuente en REM con fallback en PX
======================================================*/
$browser-context: 16; // Default
 
@function calulateRem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem
}

@mixin rem($size) {
  font-size: $size+px; //Fallback in px
  font-size: calulateRem($size);
}